<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <!-- De agent draait in tests met vaste instellingen, los van de .env van de ontwikkelaar. -->
        <env name="APP_TIMEZONE" value="UTC"/>
        <env name="AGENT_DRY_RUN" value="false"/>
        <env name="AUTH_SESSION_LIFETIME_MINUTES" value="480"/>
        <env name="AUTH_REMEMBER_LIFETIME_DAYS" value="30"/>
        <env name="ELEVENLABS_ENABLED" value="false"/>
        <env name="MAILBOX_ENABLED" value="false"/>
        <env name="CALENDAR_PROVIDER" value="none"/>
        <env name="CALENDAR_TIMEZONE" value="Europe/Amsterdam"/>
        <env name="PRICING_VAT_RATE" value="21"/>
        <env name="PRICING_LABOUR_RATE_CENTS" value="7500"/>
        <env name="PRICING_CREW_SIZE" value="2"/>
        <env name="PRICING_ENTRY_PRICE_CENTS" value="89900"/>
        <env name="PRICING_ENTRY_PACKAGE_ENABLED" value="false"/>
        <env name="PRICING_ENTRY_PACKAGE_MAX_KW" value="2.5"/>
        <env name="PRICING_MINIMUM_MARGIN_PCT" value="15"/>
        <env name="PRICING_LABOUR_COST_CENTS" value="6500"/>
        <env name="PRICING_DEFAULT_TIER" value="mid"/>
        <env name="CONVERSION_CALL_DELAY_MINUTES" value="60"/>
        <env name="MAX_CALL_ATTEMPTS" value="4"/>
        <env name="OWNER_NOTIFICATION_EMAIL" value="ondernemer@example.nl"/>
    </php>
</phpunit>
